<img src="/dams-blank.png" id="terrain" hidden="hidden">

<canvas id="canvas" data-terrain-map="<%= terrain_string %>" width="800" height="600" style="background-color:#cc9933; border:2px solid red"></canvas>

<h1>Dams - A dam building simulation by JRS</h1>
<p>Welcome to Dams, a dam building simulation built with Sinatra, Coffeescript, and HTML5 Canvas.</p>

